/* Variables */

@import "pictures.scss";

/* MOBILE FIRST*/

nav ul {
    list-style: none;
    margin: 20px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    li a {
        border-radius: 30px;
        padding: 3px;
        font-family: $family-main;
        font-size: 24px;
        font-weight: 500;
        color: rgb(3, 83, 83);
    }
    
}

#menu li a {
    text-decoration: none;
}

/*Titulos*/

h1 {
    font-family: $family-main;
    font-weight: 700;
    font-size: 11vh;
    text-align: center;
    color: $color-main;
}

h2 {
    font-family: $family-main;
    font-size: 5vh;
    color: rgb(99, 17, 119);
    text-align: center;
    margin: 20px;
}

h3 {
    font-family: $family-main;
    font-size: 4vh;
    font-weight: 500;
    padding: 20px;
    text-align: center;
    font-style: italic;
    background-color: rgb(127, 194, 200);
    color: rgb(255, 255, 255);
}

/*Media querie computadora*/

@media (min-width: 720px) {

    nav {
        display: flex;
        flex:1;
        flex-direction: row;

        ul {
            list-style: none;
            margin: 20px;

            li a {
                color: rgb(3, 83, 83);
                font-size: 24px;
            }
    
                a:hover {
                    width: 200px;
                    height: 100px;
                    background-color: rgb(156, 37, 172);
                    color: rgb(255, 255, 255);
                    animation-name: aparecer;
                    animation-iteration-count: inherit;
                    animation-timing-function: linear;
                    animation-duration: 1s;
                }

                @keyframes aparecer {
                    0% {
                        opacity: 0;
                    }
                    
                    100% {
                        opacity: 1;
                    }
                }
            }
        
    }

    #menu {
        display: flex;
        justify-content: space-around;
        flex: 1;
        li a {
            text-decoration: none;
        }
    }


}
